.segment-view {
  font-family: monospace;
  font-size: 1em;
  width: 100%;
  height:100%;
  overflow:auto;
  margin-left: 12px;
  transition: transform 0.1s ease-in;
  margin: 1px 1px 1px 12px;
}

.tag {
  color: #4E187C;
}

.raw-edi {
  color: #FF6B6B;
}

.toggler {
  font-size: .8em;
  line-height: 1.2em;
  vertical-align: middle;
  position: absolute;
  margin-left: -12px;
  margin-top: 3px;
}

.toggler::after {
  display: inline-block;
  content: "►";
  transition: transform 0.1s ease-in;
}

.is-expanded-true .toggler::after {
  transform: rotate(90deg);
}

.segment-body {
  cursor: pointer;
}

.elements {
  margin-left: 12px;
  transition: transform 0.1s ease-in;
}